*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto" , sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: red;
    --secondary-color: #727cf0;
    --dark-gray: #333;
    --light-gray: #b4b4b4;
    --purple-color: #c5c9f9;
    --light-pink-color: #fee7ef;
    --dark-pink-color: #f9a0bf; 
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    color: #66347F;
}

p{
    color: #9E4784;
    overflow-wrap: break-word;
    line-height: 1.5;
}
section{
    padding: 3.5rem 0;
}

.section .container1{
    width: 1140px;
    margin: 0 auto;
    display: flex;
}

section .left,
section .right {
    padding: 2rem;
    flex: 1;
}
/*Header*/
header{
    padding: 0;
    padding: 0;
    background-color: #fff;
}

.navbar{
    width: 100%;
    height: 80px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.navbar .links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 30px;
    padding: 0;
  }

  .navbar li {
  margin-left: 40px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar .logo{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 40px;
}

.navbar .logo a{
    color: #66347F;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .links li a{
    color: #3C2317;
    font-size: 1.2rem;
}

.navbar .links li a:hover{
    color: #F1DEC9;
}

/* Hero Section */
.hero{
    min-height: 670px;
    padding: 0;
    display: flex;
    background-color: #fbfbfb;
}

.hero .left{
    width: 50%;
    background-image: url('item.png');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero img{
    height: 70%;
    object-fit: contain;
}

.hero .right{
    width: 50%;
    display: flex;
    align-items: center;
}

.hero h1{
    font-size: 6rem;
    line-height: 7rem;
}

.hero p{
    margin-top: 1.5rem;
    max-width: 500px;
    min-width: 300px;
    font-weight: bold;
}

.about-us h1{
    font-size: 6rem;
}

.about-us p{
    margin-top: 20px;
    max-width: 500px;
    min-width: 300px;
    font-weight: bold;
}

.about-us img {
    width: 45%;
    object-fit: contain;
}

.about-us .left1{
    position: absolute;
    left: 50%;
    top: 144%;
}

/* Section Services*/

.service .container1{
    flex-direction: column;
}

.services h1{
    font-size: 4rem;
    text-align: center;
    height: 150px;
    margin-top: 50px;
}

.services .cards{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.7rem;
    padding: 20px;
}

.cards > .card:hover{
    transform: scale(1.06);
    transition: .3s;
}

.cards > .card:not(:hover){
    transition: 0.3s;
}

.services .card img{
    width: 80%;
    padding-top: 0;
}

.services .card{
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
}

.services .card h2{
    font-size: 1.5rem;
    color: #2E4F4F;
    margin-top: 1.8rem;
}

.services .card p{
    margin-top: 1rem;
}

.services .card button{
    padding: 8px 45px;
    margin-top: 1.5rem;
}

.outline-btn{
    padding: 10px 30px;
    background-color: #fff;
    border: 2px solid #0EA293;
    font-weight: bold;
    border-radius: 6px;
    color: aqua;
    font-size: 15px;
}

.outline-btn:hover{
    background-color: aqua;
    color: #fff;

}

.gradient-bg{
    background: linear-gradient(
        to right,
        var(--light-pink-color),
        var(--purple-color)
    );
}

/*Section Contact*/

.contact .cards1{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.contact .card1{
    min-height: 200px;
    padding: 50px 40px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: #fff;
}

.space{
    display: flex;
    justify-content: space-between;
    width: 200px;
    cursor: pointer;
}

.space1{
    display: flex;
    justify-content: space-between;
    width: 200px;
    cursor: pointer;
}

.contact .card h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.contact .card1 span{
    color: #fff;
}

.left2{
    width: 40%;
    position: absolute;
    left: 5%;
    top: 515%;
}

.left2 h1{
    font-size: 2.5rem;
    margin-left: 3rem;
}

.left2 p{
    margin-left: 3rem;
    margin-top: 20px;
}
 
.right2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
}

.right2 button{
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 4rem;
    padding: 10px 30px;
}

.right2 h1{
    text-align: center;
    margin: 20px 0;
}

.filled-btn{
    background-color: #0F4C75;
    font-size: 1.25rem;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 10px;
}

.filled-btn:hover{
    background-color: #3282B8;
}

.submit form{
    width: 80%;
    padding: 30px;
    background-color: #27E1C1;
    border-radius: 30px;
}

.submit .input-group{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.submit label{
    margin-bottom: 5px;
}

.submit .input{
    background-color: #f2f2f2;
    border: none;
    outline: none;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 1rem;
}

footer{
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--dark-gray);
    color: #fff;
    position: absolute;
    top: 610%;
    width: 100%;
}

.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #3C2317;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Animation*/
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: #F1DEC9;
    transform: rotate(45deg) translate(5px, -5px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: #F1DEC9;
    transform: rotate(-45deg) translate(3px, 6px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

@media screen and (max-width: 576px) {
    .menu-toggle{
        display: flex;
    }
    
    .navbar .links{
        position: absolute;
        right: 0;
        top: 0;
        height: 80vh;
        width: 40%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #fff;
        z-index: 0;
        padding: 0;
    }

    .section .container{
        width: 50%;
    }

    .section .container1{
        width: 50%;
    }

    .section .container2{
        width: 50%;
    }

    .section .container3{
        width: 50%;
    }

    .hero{
        flex-direction: column-reverse;
    }

    .hero .left,
    .hero .right{
        width: 100%;
        justify-content: center;
        margin-top: 50px;
    }
}

/* Responsive */
@media (max-width: 1200px) {
    .section .container{
        width: 940px;
    }

    .section .container1{
        width: 940px;
    }

    .section .container2{
        width: 940px;
    }

    .section .container3{
        width: 940px;
    }

    .hero{
        min-height: 580px;
    }

    .hero h1{
        font-size: 4.5rem;
    }
}

